seaborn
pandas == 1.5.3
numpy == 1.24.0
matplotlib==3.4.0
matplotlib_venn
matplotlib
altair
altair_catplot
xlsxwriter
openpyxl
scikit-learn
graphviz
pydot
pydotplus
mlxtend
bokeh
fpdf
pingouin
skope-rules
plotly
pillow
pydotplus
