seaborn
pandas
numpy
matplotlib
matplotlib_venn
altair
altair_catplot
xlsxwriter
openpyxl
scikit-learn
graphviz
pydot
pydotplus
mlxtend
bokeh
fpdf
pingouin
skope-rules
plotly
pillow
xlrd
networkx
#imbalanced-learn
joblib
#scikit-learn==1.2.2
imbalanced-learn==0.10.1
